<div class="container-fluid pt-1">
    <div class="row"> 
      <div class="col-6 text-start">
        Car Portal
      </div>
      <div class="col-6 text-end pt-1">
        <button class="btn btn-warning btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"> Add New</button>
      </div>
    </div>
    <div class="row">
        <div class="col-3 pt-3" *ngFor="let item of carList">
            <div class="card">
                <img  [src]="item.carImage" height="100" />
                <div class="card-body">
                  <div class="row">
                    <div class="col-8 text-start">
                      <span> {{item.brand}}</span> ({{item.model}})
                    </div>
                    <div class="col-4 text-end">
                      <span> {{item.year}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 text-start">
                      <small class="">
                           {{item.color}}
                      </small>
                    </div>
                    <div class="col-6 text-end">
                      <span> $ {{item.dailyRate}}</span>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-start">
                            <button class="btn btn-outline-danger btn-sm">Delete</button>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-outline-success btn-sm">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
   
  </div>

  
  

 